html, body {
	height:100%;
	margin:0;
}

#map{
	height:100%;
	margin:0;
}

.destinations-container {
	position: absolute;
    z-index: 3;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 20px;
}

#search-window {    
    overflow: hidden;
    width: 230px;
    max-height: auto;
    background-color: white;
    border: 5px solid gray;
    font-size: 10px;    
}

#search {
    margin: 10px 0 5px 10px;
    width: 75%;
    height: 30px;
    font-size: 20px;    
    color: gray;
    box-shadow: 2px 2px 2px gray;
}

#scroller {
    max-height: 480px; 
    overflow: scroll;
    margin: 0 5px;
}


.reset-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    float: middle;
}

#reset,
#reset:focus {
    height: 50px;
    width: 50px;
    float: right;
    margin: 0 15px 15px 0;
    border-radius: 50%;
    background-color: black;
    font-size: 10px;
    color: white;
    border: 5px solid gray;
}

#reset:hover {
    background-color: white;
    color: black;
    border: 5px solid gray;
}

#collapse-container {
    background-color: orange;
    opacity: 0.9;
    max-width: 50px;
    border-radius: 50%;
    z-index: 6;
}

#collapse {
    height: 20px;
    width: 20px;
}